.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e6e6eb;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  background: #F7F7F7;
}

.logo {
  font-family: 'Russo One', sans-serif;
  color: #0013E5;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 20px;
  margin-top: 15px;
}

.login-signup {
  font-family: 'Russo', sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  position: relative;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  // border-bottom: 1px solid #e6e6eb;
}

.navlink:hover {
  background-color: #d3d3d3;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}


.header-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background: #F7F7F7;
}

.header-name {
  font-family: 'Russo', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #0013E5;
  margin-bottom: 20px;
  margin-top: 25px;
}

.navlink {
  color: #0013E5;
  border: 1px solid #e6e6eb;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 2px;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
}
