.not-found-container > h1, .not-found-container > center {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #0013E5;
  margin-bottom: 20px;
}

.not_found:hover {
  color: #8A5AFC;
}
