.show {
    min-height: 700px;
}

.show-map {
    width: 400px;
    height: 300px;
}

.show-header {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
